dagster:
  dagster-user-deployments:
    enabled: true
    enableSubchart: true

    deployments:
      - name: "git-user-code"
        image:
          repository: "docker.io/dagster/dagster-k8s"
          tag: "1.12.1"
          pullPolicy: IfNotPresent

        port: 3030

        serverK8sConfig:
          containerConfig:
            command: ["/bin/bash", "-c"]
            args: |
              echo "Custom command starting indefinitely..."
              # Use an infinite sleep to keep the container running
              sleep infinity
                    # no env needed for this test
